body {
  background-image: url("./backgrounds/mtn.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% auto; /* width height*/

}

      .center {
        margin: auto;
        display: flex;
      }
