body {
  background-image: url("./backgrounds/mtn.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

      .center {
        margin: auto;
          background-color: transparent; /* Used if the image is unavailable */

        display: contents;
      }
